
*.bin
*.manifest
.vs/PTO/v17/TestStore/2/031.testlog
.vs/PTO/v17/DocumentLayout.json
.vs/PTO/v17/.suo
.vs/PTO/v17/.futdcache.v2
.vs/PTO/v16/TestStore/0/000.testlog
.vs/PTO/v16/.suo
.vs/PTO/FileContentIndex/f0f6d2ee-0123-4c5d-a595-d1b5222e4412.vsidx
.vs/PTO/FileContentIndex/afe102c6-f75f-4e38-8c21-0e1efcc4e71c.vsidx
.vs/PTO/FileContentIndex/88655cc3-a488-48c8-b713-977659744517.vsidx
.vs/PTO/FileContentIndex/6d31750c-0f52-4310-bc0c-5e87f5ff02dd.vsidx
.vs/PTO/FileContentIndex/1ef62c57-57d4-4abd-8619-54a36ae9feca.vsidx
.vs/PTO/DesignTimeBuild/.dtbcache.v2
.vs/PTO/config/applicationhost.config
/bin
/obj